@model DayOff.Models.Holiday

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Holiday</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HolType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HolType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HolDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HolDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HolidayID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
